/* .card {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 150ms ease, box-shadow 150ms ease;
  position: relative;
  overflow: visible;
  padding: 1rem;
}

.systemCard {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 2rem;
  min-height: auto;
  padding: 1.5rem;
}

.appCard {
  min-width: 140px;
  max-width: 200px;
  height: 100%;
}

.horizontal {
  flex-direction: row;
  height: auto;
  max-width: 400px;
  height: 20px;
}

.vertical {
  flex-direction: column;
}

.sliderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appSlider {
  min-height: 140px;
  max-height: 200px;
  margin: 0 auto;
  width: 100%;
}

.volumeText {
  min-height: var(--mantine-spacing-md);
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  color: var(--mantine-color-dimmed);
}

.volumeText.muted {
  color: var(--mantine-color-red-6);
}

.appName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.volumeText.dimmed {
  color: var(--mantine-color-dimmed);
} */

.card {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.appName {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.appSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0 1rem;
}

.volumeSlider {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  border-radius: 1rem;
}

.volumeText {
  display: flex;
  margin: 0;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.volumeButton {
  border-radius: 1rem;
  padding: 0.5rem;
}
